.parasun {
  width: 100vw;
}

.classic {
  text-align: center;
  font-size: 22rem;
  font-weight: 400;
  color: var(--signal);
}

.dot-world {
  font-size: 8rem;
  font-weight: 900;
  font-style: italic;
  color: var(--white);
}

.child-one {
  background-repeat: no-repeat;
  object-fit: cover;
}

.scroll-info {
  font-size: 3rem;
  font-weight: 200;
  font-style: italic;
  text-transform: uppercase;
  text-indent: 0.2rem;
  color: var(--grey);
}

.para-one {
  font-family: "Abril Fatface", cursive;
  font-size: 5rem;
}

.load-screen-message {
  text-align: center;
  font-size: 22rem;
  font-weight: 400;
  color: var(--signal);
}
